<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sz.kk.daily.bill">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.bill.application.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bill.summary.bar.filter.BarChartFilterActivity"></activity>
        <activity android:name="com.bill.consumption.type.add.EditSmallTypeActivity" />
        <activity android:name="com.bill.consumption.type.add.EditTypeActivity" />
        <activity
            android:name="com.bill.start.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bill.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bill.consumption.AddConsumptionActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bill.bill.BillListActivity" />
        <activity android:name="com.bill.billbook.AddBillBookActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5aeeb407a40fa3788c000208" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="100000" />

        <activity android:name="com.bill.daylist.DailyBillFilterActivity" />
        <activity android:name="com.bill.base.BaseKotlinActivity" />
    </application>

</manifest>